//
// footer.scss
// 

.footer {
    padding: 80px 0px;
    .footer-logo {
        .logo-light {
            display: $display-dark;
        }
        .logo-dark {
            display: $display-light;
        }
    }
}
